.breadCrumbBtn {
	height:30px;
	width:150px;
	margin:0px 5px 0px 0px;	
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px
    
}

.breadCrumbBtn:hover {
	height:30px;
	width:150px;
	margin:0px 5px 0px 0px;	
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.breadCrumbBtnSelected{
	height:30px;
	width:150px;
	margin:0px 5px 0px 0px;	
	background-color: #008CBA;
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;    
    
}


button:focus {outline:0;}